<nav class="page-nav nav">
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__link home {% if page.id == 'home' %}active{% endif %}"     href="{{ site.baseurl }}/">Home</a></li>
    <li class="nav__item"><a class="nav__link docs {% if page.id == 'docs' %}active{% endif %}"     href="{{ site.baseurl }}/docs/">Documentation</a></li>
    <li class="nav__item"><a class="nav__link examples {% if page.id == 'examples' %}active{% endif %}" href="{{ site.baseurl }}/examples.html">Examples</a></li>
    <li class="nav__item"><a class="nav__link github"   href="https://github.com/hyperform/hyperform">Github project page</a></li>
  </ul>
</nav>
