article {
  max-width: 40em;
}

header {
  text-align: center;
}

pre {
  font-size: .875em;
}

a {
  color: #78397E;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #66246C;
  border-bottom: 1px solid;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  margin-left: 0;
  padding-left: 22px;
  background: url(https://assets-cdn.github.com/images/icons/emoji/unicode/1f47e.png) no-repeat left 4px;
  background-size: 16px;
}

nav li.github {
  background-image: url(https://assets-cdn.github.com/images/icons/emoji/octocat.png);
}

#stage {
  border: 1px solid #eee;
  padding: 1em 1.5em;
}

#code:empty {
  display: none;
}

.row {
  display: flex;
  margin: -1em 0 0 -1em;
}

.span {
  flex: 1;
  padding: 1em 0 0 1em;
}

.help {
  color: #666;
  font-size: smaller;
}
